[Unit]
Description=StayHub gunicorn daemon
After=network.target postgresql.service

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/StayHub/hotel-management-system
EnvironmentFile=/home/admin/StayHub/hotel-management-system/.env
ExecStart=/home/admin/StayHub/hotel-management-system/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
KillSignal=SIGTERM
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
