[Unit]
Description=StayHub ngrok tunnel
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/StayHub/hotel-management-system
ExecStart=/usr/bin/ngrok http 8000 --url=https://npc0sh6x-8000.euw.devtunnels.ms --log=stdout
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target